<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACqgugfFtUeow54Yvfav9NvxySLN-0yec</string>
	<key>GCM_SENDER_ID</key>
	<string>898438711816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reda</string>
	<key>PROJECT_ID</key>
	<string>selekny-app</string>
	<key>STORAGE_BUCKET</key>
	<string>selekny-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898438711816:ios:c0e9fa99c7d884218ddfbd</string>
	<key>DATABASE_URL</key>
	<string>https://selekny-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>